@model Winery.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/access-login-styles.css" rel="stylesheet">
<script src="~/Scripts/accessform.js"></script>
<body>
    <div class="row">
        <div class="page-title-wrapper">
            <h1>Retail Customer Sign-in & Registration</h1>
        </div>
        <div class="main-content">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <div class="columns">
                    <div class="columns main">
                        <div class="login-container">
                            <div class="login-container-section customer-login-container">
                                <div class="block-title">
                                    <strong>Retail Customer</strong>
                                    <hr class="field-seperator" />
                                </div>
                                <fieldset class="fieldset login">
                                    <div>
                                        <label for="username">Username:</label>
                                        @Html.TextBoxFor(m => m.Email, new { required = "required", })
                                    </div>
                                    <div>
                                        <label for="email">Password:</label>
                                        @Html.TextBoxFor(m => m.Password, new { required = "required", id = "password", type = "password" })
                                    </div>
                                    <div class="option show-password">
                                        <input id="show-password-check-box" type="checkbox" onchange="onShowPasswordChange(this)" />
                                        <span>Show password</span>
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <button type="submit">Submit</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>