@model Winery.Models.UserLoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/access-login-styles.css" rel="stylesheet">
<script src="~/Scripts/accessform.js"></script>
<body>
    <div class="row">
        <div class="page-title-wrapper">
            <h1>Retail Customer Sign-in & Registration</h1>
        </div>
        <div class="main-content">
            <form class="form form-login" action="~/" method="post">
                <div class="columns">
                    <div class="columns main">
                        <div class="login-container">
                            <div class="login-container-section customer-login-container">
                                <div class="block-title">
                                    <strong>Retail Customer</strong>
                                    <hr class="field-seperator" />
                                </div>
                                <fieldset class="fieldset login">
                                    <div class="field email required">
                                        <label class="fieldset label">
                                            <span>Email <span class="required-marker">*</span></span>
                                        </label>
                                        <div class="fieldset control">
                                            <input class="input-text" name="login" value="" required autocomplete="off" id="email" type="email" />
                                        </div>
                                    </div>
                                    <div class="field password required">
                                        <label class="fieldset label">
                                            <span>Password <span class="required-marker">*</span></span>
                                        </label>
                                        <div class="fieldset control">
                                            <input class="input-text" name="login" value="" required autocomplete="off" id="password" type="password" />
                                        </div>
                                    </div>
                                    <div class="option show-password">
                                        <input id="show-password-check-box" type="checkbox" onchange="onShowPasswordChange(this)" />
                                        <span>Show password</span>
                                    </div>
                                    <div class="login-button">
                                        <button type="submit">
                                            <span>Sign in</span>
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form form-register">
                <div class="columns">
                    <div class="columns main">
                        <div class="register-container">
                            <div class="register-container-section customer-register-container">
                                <div class="block-title">
                                    <strong>New Retail Customer</strong>
                                    <hr class="field-seperator" />
                                </div>
                                <div class="register-button">
                                    <button>
                                        <span>Register</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>