@model Winery.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/access-login-styles.css" rel="stylesheet">
<script src="~/Scripts/accessform.js"></script>
<body>
    <div class="row">
        <div class="page-title-wrapper">
            <h1>Retail Customer Sign-in & Registration</h1>
        </div>
        <div class="main-content">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <div class="columns">
                    <div class="columns main">
                        <div class="login-container">
                            <div class="login-container-section customer-login-container">
                                <div class="block-title">
                                    <h3>Retail Customer</h3>
                                    <hr class="field-seperator" />
                                </div>
                                <fieldset class="fieldset login">
                                    <div class="control">
                                        <label class="label" for="email">Email:</label>
                                        <br />
                                        <input class="input-box" id="Email" name="Email" required="required" type="email" />
                                    </div>
                                    <div class="control">
                                        <label class="label" for="password">Password:</label>
                                        <br />
                                        <input class="input-box" id="password" name="Password" required="required" type="password" />
                                    </div>
                                    <div class="option show-password">
                                        <input id="show-password-check-box" type="checkbox" onchange="onShowPasswordChange(this)" />
                                        <span>Show password</span>
                                    </div>
                                    <div class="option remember-me">
                                        <input id="remember-me-check-box" type="checkbox" />
                                        <span>Remember me</span>
                                    </div>
                                    <div class="action" style="margin-top: 10px;">
                                        <button type="submit">SIGN IN</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            }

        <form>
            <div class="columns">
                <div class="columns main">
                    <div class="register-container">
                        <div class="register-container-section customer-register-container">
                            <div class="block-title">
                                <h3>New Retail Customer</h3>
                                <hr class="field-seperator" />
                            </div>
                            <fieldset class="action">
                                <button type ="button" onclick="window.location.href='@Url.Action("Register","Access", new { })'">Register</button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</body>