.container-customers-reviews {
    padding: 50px;
}
.customers-reviews-content-wrapper {
    color: black;
    background-color: #f3f4f5;
    width: 100%;
    height: 100%;
}
.container-customers-reviews .container-review {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    margin: 0 24px 0 0;
    padding: 15px;
    position: relative;
    width: 250px;
    background-color: white;
    box-shadow: 5px 10px 20px #cccccc;
    height: 150px;
}
.container-customers-reviews .container-review .content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
    .container-customers-reviews .container-review .content-wrapper .text {
        text-align: left;
        height: 100%;
    }
    .container-customers-reviews .container-review .content-wrapper .date-and-user-info-wrapper {
        display: flex;
        gap: 5px;
    }

    .container-customers-reviews .container-review .content-wrapper .header {
        font-weight: bold;
        text-align: left;
    }
    .container-customers-reviews .container-review .content-wrapper .date-and-user-info-wrapper {
        font-weight: 500;
        font-size: 13px;
        color: #666666;
    }