.row {
    position: relative;
    text-align: center;
    color: white;
    margin: 0px;
}
.welcome-img {
    width: 100%;
    height: auto;
}
.welcome-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 0px;
}
    .welcome-content.background-overlay {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .welcome-content .background-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background-color: #535446;
    }
.welcome-slogan {
    font-size: 50px;
    color: #c6c5b3;
    font-family: 'Cormorant Upright';
}
.shop-now-button {
    background-color: #995c40;
    color: white;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    transition: 0.3s ease;
    font-family: 'Cormorant Upright';
}
    .shop-now-button:hover {
        background-color: #535446;
    }
.product-card-wrapper-background-effect {
    background-color: #eae7e4;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50%;
    transition: 0.4s ease;
}
.product-card-wrapper:hover .product-card-wrapper-background-effect {
    height: 100%;
}
.product-card-wrapper:hover .product-card-content.left .thumbnail img {
    transform: translateX(-10px);

}

.section.header {
    font-family: 'Cormorant Upright';
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: underline;
    text-decoration-color: black;
}

.section.header h1 {
    font-size: 3.5rem;
    color: black;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .welcome-slogan {
        display: none;
    }
    .shop-now-button {
        display: none;
    }
}