.row {
    position: relative;
    text-align: center;
    margin: 0px;
}
.welcome-img {
    width: 100%;
    height: auto;
}
.welcome-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 0px;
}
    .welcome-content.background-overlay {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .welcome-content .background-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background-color: #535446;
    }
.welcome-slogan {
    font-size: 50px;
    color: #c6c5b3;
    font-family: 'Cormorant Upright';
}
.shop-now-button {
    background-color: #995c40;
    color: white;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 0px;
    transition: 0.3s ease;
    font-family: 'Cormorant Upright';

}
    .shop-now-button:hover {
        background-color: #535446;
    }
.product-card-wrapper-background-effect {
    background-color: #eae7e4;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50%;
    transition: 0.4s ease;
}
.product-card-wrapper:hover .product-card-wrapper-background-effect {
    height: 100%;
}
.product-card-wrapper:hover .product-card-content.left .thumbnail img {
    transform: translateX(-10px);

}

/*Quality List*/
.quality-list {
    display: flex;
}

.quality-box {
    padding: 10px;
}
@media only screen and (max-width: 800px) {
    .quality-list {
        flex-direction: column;
        gap: 20px;
    }
}
/*Shop category list*/
.shop-category-list {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    align-items: center;
    justify-items: center;
}
.shop-category-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 178px;
    height: 202px;
}
.shop-category-image {
    overflow: hidden;
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
    height: 125px;
}
.shop-category-image img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: 0.5s ease;
}
.shop-category-item:hover .shop-category-image img {
    transform: scale(1.25);
}
.shop-category-title {
    margin: 10px 0 10px;
}
@media only screen and (max-width: 1590px) {
    .shop-category-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 900px) {
    .shop-category-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 450px) {
    .shop-category-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
.section.header {
    /*font-family: 'Cormorant Upright';*/
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: underline;
    text-decoration-color: black;
}

.section.header h1 {
    font-size: 3.5rem;
    color: black;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .welcome-slogan {
        display: none;
    }
    .shop-now-button {
        display: none;
    }
}
.pr-onsales-results {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

    .pr-onsales-results .pr-onsales-results-inner {
        overflow: auto;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        max-width: 1500px;
    }

        .pr-onsales-results .pr-onsales-results-inner .item {
            display: inline-block;
            position: relative;
            color: black;
            min-width: 300px;
            max-width: 300px;
            width: 300px;
            padding: 15px;
        }
        .pr-onsales-results .pr-onsales-results-inner .item-img {
            width: 100%;
            height: 80%;
            max-height: 250px;
        }

            .pr-onsales-results .pr-onsales-results-inner .item-img img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        .pr-onsales-results .pr-onsales-results-inner .item .item-desc {
            min-height: 98px;
            text-align: left;
        }

            .pr-onsales-results .pr-onsales-results-inner .item .item-desc .item-name {
                display: block;
                overflow-wrap: break-word;
                white-space: normal;
                text-decoration: none;
                color: black;
                letter-spacing: 0;
                line-height: 25px;
                min-height: 90px;
                font-size: 18px;
                padding: 7px 0px 7px 0px;
            }

            .pr-onsales-results .pr-onsales-results-inner .item .item-desc .item-price .item-origin-price,
            .pr-onsales-results .pr-onsales-results-inner .item .item-desc .item-price .item-sale-price {
                display: inline;

            }
            .pr-onsales-results .pr-onsales-results-inner .item .item-desc .item-price .item-sale-price {
                float: right;
            }
            .pr-onsales-results .pr-onsales-results-inner .item .item-desc .item-price .item-origin-price {
                text-decoration: line-through;
                text-decoration-thickness: 2px;
            }
            .pr-onsales-results .pr-onsales-results-inner .item .item-button {
                width: 100%;
                text-align: center;
                align-content: center;
            }

            .pr-onsales-results .pr-onsales-results-inner .item .item-button button {
                background-color: #8c5a43;
                color: white;
                cursor: pointer;
                border: 0;
                font-size: 1rem;
                width: 100%;
                height: 50px;
                transition: 0.3s ease;
            }

            .pr-onsales-results .pr-onsales-results-inner .item .item-button:hover button {
                background-color: #58594b;
            }

        .pr-onsales-results .pr-onsales-results-inner .item .item-attribute {
            font-size: 12px;
            font-weight: 300;
        }

        .pr-onsales-results .pr-onsales-results-inner .item .item-price {
            font-size: 18px;
            font-weight: 600;
        }