

.navbar-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 75px;
    /*
        background-color: #535446;
    */
    background-color: transparent;
    top: 0;
    z-index: 1000;
    transition: 0.3s ease;
}

    .navbar-content.scrolled {
        background-color: #535446;
        position: fixed;
    }

.nav-section {
    display: flex;
    margin: 10px;
    gap: 20px;
    flex: 0 33%;
    align-items: center;
}

    .nav-section a {
        color: #c6c5b3;
        text-decoration: none;
        cursor: pointer;
        
        
    }

    .nav-section.left {
        justify-content: flex-end;
    }

.thumbnail-img {
    width: 100%;
}
@media only screen and (max-width: 520px) {
    .nav-section {
        display: none; /* Hide all nav items */
    }

        .nav-section.center {
            display: flex; /* Show only the center item */
        }
}

.nav-section.center {
    justify-content: center;
}

.nav-section.right {
    justify-content: flex-start;
}

.nav-section.center span {
    font-size: 40px;
    font-weight: bold;
    color: #c6c5b3;
}

.nav-section a .nav-menu-item-text {
    font-family: 'Cormorant Upright';
    font-size: 1rem;
    font-weight: bold;
}

.footer-infomation-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    background-color: #535446;
    font-family: 'Cormorant Upright';
    color: #c6c5b3;
    padding: 50px 100px 50px 100px;
    gap: 10%;
}

    .footer-infomation-wrapper.footer-infomation {
        display: flex;
        flex-direction: column;
        flex: 0 25%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

.footer-infomation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 10%;
}

    .footer-infomation.the-company a, h4 {
        flex: 1;
        height: 100%;
        width: 100%;
    }

    .footer-infomation.help-centre a, h4 {
        flex: 1;
        height: 100%;
        width: 100%;
    }

    .footer-infomation.legal a, h4 {
        flex: 1;
        height: 100%;
        width: 100%;
    }

    .footer-infomation.the-company h4 {
        font-weight: bold;
    }

    .footer-infomation.help-centre h4 {
        font-weight: bold;
    }

    .footer-infomation.legal h4 {
        font-weight: bold;
    }
    .footer-infomation.logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .footer-infomation-copyright {
        background-color: #535446;
        font-family: 'Cormorant Upright';
        color: #c6c5b3;
    }
.newsletter-background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
}
