@font-face {
    font-family: 'Cormorant Upright';
    src: url('Fonts/CormorantUpright-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Retro Vibes';
    src: url('Fonts/RetroVibesPersonalUseRegular-lgEBX.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Morning Vintage';
    src: url('Fonts/Morning Vintage.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lucky Skirt';
    src: url('Fonts/Lucky Skirt (DEMO).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Visby CF';
    src: url('Fonts/Fontspring-DEMO-visbycf-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.page-content {
    max-width: 80vw;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding: 50px 25px;
}
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}