.navbar-sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-sticky li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.product-result {
    width: 100%;
    height: 100%;
}
.product-result-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-result-list li {
    flex: 1 0 30%;
    box-sizing: border-box;
    height: 700px;
    margin: 0px;
    padding: 10px;
}

.product-display-item-container {
    border: 2px solid #b2b2b2;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.product-purchase-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
}

.product-purchase {
    width: 100%;
    height: 100%;
}

.product-display {
    height: 50%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.product-display.top {
    display: flex;
}
.product-info-spacer {
    flex: 1;
}
.product-display.bottom {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.product-info-wrapper {
    text-align: left;
}

.product-image {
    width: 100%;
    height: 100%;
}

    .product-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.product-purchase-button {
    text-align: center;
    margin-bottom: 50px;
}

.product-purchase-button button {
    background-color: #535446;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    transition: 0.4s;
 }

.product-purchase-button button:hover {
    background-color: #808354;
}

.hr-product-seperator {
    border: 1px solid #b2b2b2;
}

.product-capacity {

}