.page-content {
    display: flex;
    flex-wrap: wrap;
}
.sidebar {
    width: 22.3%;
}
.board {
    width: 77.7%;
    padding-left: 50px;
}
.sidebar-list {
    list-style-type: none;
    background-color: #f5f5f5;
    margin: 0;
}

.sidebar-list li a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 0.75rem;
}


.account-block {
}

.account-block-title,
.list-block-title
{
    font-size: 22px;
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.account-block-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.account-box {
    clear: left;
    float: left;
    width: 50%;
}
.box-title {
    font-size: 16px;
    margin: 0 0 10px;
    display: inline-block;
}
.box-content {
    font-size: 1.7rem;
}

.box-content p {
    font-size: 15px;
    margin: 0;
}

.action {
    color: #000 !important;
    font-size: 12px;
    vertical-align: middle;
}

.list-block {

}
.order-details-list {
    width: 100%;
}
    .order-details-list tr {
        border-bottom: 1px solid black;
    }
    .order-details-list th {
        text-align: center;
    }
    .order-details-list td {
        padding: 20px;
        text-align: center;
    }
    .order-details-item {
        width: 100%;
    }
.order-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}
.order-details-col {
    vertical-align: top;
}
.order-details-col.item {
}
.order-details-col.name {
    text-align: left;
}
.order-details-col.item a {
    display: block;
}
.product-thumbnail {
    display: block;
}
    .product-thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-height: 100px;
    }
.order-list {
    width: 100%;
}

    .order-list th {
        font-size: 1rem;
    }
    .order-list tr {
        text-align: center;
        border-bottom: 1px solid black;
    }

.order-data a {
    
    color: inherit;
}