.account-block {

}

.account-block-title {
    font-size: 22px;
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.account-block-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.account-box {
    clear: left;
    float: left;
    width: 50%;
}
.box-title {
    font-size: 16px;
    margin: 0 0 10px;
    display: inline-block;
}
.box-content {
    font-size: 1.7rem;
}

.box-content p {
    font-size: 15px;
    margin: 0;
}

.action {
    color: #000 !important;
    font-size: 12px;
}