@model Winery.Models.Product
@using Winery.Ultilities;
@{
    ViewBag.Title = Model.ProductName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/product-detail.css" rel="stylesheet">
<body>
    <div class="product-purchase-wrapper">
        <div class="product-purchase">
            <div class="product-display left">
                <div class="product-image">
                    <img src="~/Content/Images/wine/@WineryUtilities.ParseItemNameIntoPNGFileName(Model.ProductName)" />
                </div>
            </div>
            <div class="product-display right">
                <div class="product-capacity">
                    <span>@(Model.ProductCapacity)cl / @(Model.ProductABV)%</span>
                </div>
                <div class="product-name">
                    <h2>@Model.ProductName.ToUpper()</h2>
                </div>
                <hr class="hr-product-purchase-seperator" />
                <div class="product-price">
                    <span>£@Model.ProductPrice.ToString("F2")</span>
                </div>
                <div class="product-desc">
                    <p>@Model.ProductDesc</p>
                </div>
                <div class="product-display-filler">

                </div>
                <div class="product-purchase-buttons">
                    <button class="add-to-cart-button">ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</body>
