@model IEnumerable<Winery.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/styles.css" rel="stylesheet" type="text/css">
<div class="product-result">
        @foreach (var item in Model)
        {
            <div class="product-wrapper" style="border: 1px solid black;">
                <div class="product-wrapper-background-effect"></div>
                <div class="product-thumbnail">
                    <div class="product-content-wrapper">
                        <div class="product-image">
                            <img src="https://wyine.wpengine.com/wp-content/uploads/2023/04/shop-1.1-2.png" />
                        </div>
                        <div class="product-name">
                            <h2>@item.product_name</h2>
                        </div>
                    </div>
                </div>
                <div class="product-details">
                    <div class="product-content-wrapper">
                        <div class="product-buy">
                            <a href="https://wyine.wpengine.com/wp-content/uploads/2023/04/shop-1.1-2.png">ADD TO CART</a>
                        </div>
                        <div class="product-price">
                            <h4>$@item.product_price</h4>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>
