@model Winery.Models.Address
@using Winery.Services;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/user-details-style.css">
<div class="page-wrapper">
    <main class="page-content" id="maincontent">
        <div class="sidebar sidebar-main">
            @Html.Action("GetUserActions", "User", new { id = UserSessionService.CurrentUser.UserID })
        </div>
        <div class="board">
            <div class="page-title-wrapper">
                <h1 class="page-title" id="page-title-heading">
                    ADD NEW ADDRESS
                </h1>
            </div>
            <div class="account-block dashboard-info">
                <div class="account-block-title">
                    <strong>Address</strong>
                    <span class="block-subtitle">This will be set as your default address</span>
                </div>
                <div class="account-block-content">
                    <div class="account-box box-information">
                        @using (Html.BeginForm("Create", "Address", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <strong class="box-title">
                                Address Information
                                
                            </strong>
                            <div class="box-content">
                                <div class="user-form-field AddressCity">
                                    <label class="user-form-label" for="AddressCity">City</label>
                                    <div class="user-form-control">
                                        <input id="AddressCity" name="AddressCity" value />
                                    </div>
                                </div>
                                <div class="user-form-field AddressProvince">
                                    <label class="user-form-label" for="AddressProvince">Province</label>
                                    <div class="user-form-control">
                                        <input id="AddressProvince" name="AddressProvince" value />
                                    </div>
                                </div>
                                <div class="user-form-field Address1">
                                    <label class="user-form-label" for="Address1">Address</label>
                                    <div class="user-form-control">
                                        <input id="Address1" name="Address1" value />
                                    </div>
                                </div>
                            </div>
                            <div class="box-actions">

                            </div>
                            <div class="box-actions-submit">
                                <button type="submit" class="user-edit-save-button" value="Create">
                                    SAVE ADDRESS
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
