@{
    ViewBag.Title = "About";
}
<div class="page-wrapper">
    <main class="page-content" id="maincontent">
        <div class="page-title-wrapper">
            <div class="breadcrumb">
                
            </div>
            <h1 class="page-title" id="page-title-heading">ABOUT US</h1>

        </div>
        <div class="columns">
            <div class="column main">
                
            </div>
            <div class="text" style="text-align: center; font-size: 1.25rem; font-family:'Visby CF';">
                <img src="~/Content/Images/background-about.png" style="position: relative; width: 100%; height: 100%;"/>
                <h2 style="font-weight: 700;">HOW IT ALL STARTED</h2>
                <p>In the year 1990, it was hard to make a living in the South of Vietnam, except for our family. My mother built this business, all by her bare hands. There was little to none business in our town that day because war reigned over our region for years. It was until the moment my mother decided to do something. She had this briliant idea to start a wine shop. There used to be a lot of French and English here and they enjoyed having some taste of wine in the cold morning. The business was a success.</p>
                <p>Now it is 2024 and I decided to make a step into the business of my mother to make an impact. This website is the result of continously working and trying to produce the best quality, just like our products.</p>
                <p>The core purpose is to deliver the best quality of wine around the globe, starting with our own homeland. Blessed with the gift of natural resources and fertilized land, the ground is an ideal place for the grapes to achieve theirs best quality and it will represent the effort which we put into throughout our lives.</p>
                <p>That being said, this website is the gateway to connect between our world of wines and the real world. The mere connection will remain untouched and unchanged for the rest of our journey.</p>
                <p>We hope that this will be a chance to prove our position in this field. We promised that the products will be perfected overtime without fail in exchange for your trust.</p>
</div>
        </div>
    </main>

</div>