@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <p style="margin: 20px">
        List of contributors: <br />
        [23DH111389] Lưu Thái Hưng: ideas, frontend, backend. <br />
        [23DH111262] Phan Trần Quốc Huy: frontend, ideas. <br />
        [23DH??????] Mai Văn Khánh: chef, waiter, patient, frontend. <br />
    </p>
</main>