@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <p style="margin: 20px">
        List of contributors: <br />
        [23DH111389] Lưu Thái Hưng: frontend, backend. <br />
        [23DH111262] Phan Trần Quốc Huy: frontend. <br />
        [23DH??????] Mai Văn Khánh: frontend. <br />
    </p>
</main>