@{
    ViewBag.Title = "Contact";
}
<div class="page-wrapper">
    <main class="page-content" id="maincontent">
        <div class="page-title-wrapper">
            <div class="breadcrumb">

            </div>
            <h1 class="page-title" id="page-title-heading">CONTACT US</h1>
        </div>
        <div class="columns">
            <div class="column main">
                <p style="line-height: 30px;">
                    <strong>WINERY</strong><br />
                    <strong>Opening Hours:</strong> Monday - Sunday 24/7 <br />
                    <strong>Lưu Thái Hưng:</strong> 23dh111389@st.huflit.edu.vn <br />
                    <strong>Phan Trần Quốc Huy:</strong> 23dh111262@st.huflit.edu.vn <br />
                    <strong>Mai Văn Khánh:</strong> 23dh111262@st.huflit.edu.vn <br />
                    <strong>Visit Us:</strong> Anywhere in Tam Binh District, Vinh Long Province, Vinh Long City. <br />
                    You will see the billboard: Hung Lap Thanh (WINERY INC). Pay us a visit!
                    <br />
                    <strong>Head Office:</strong> 14 Võ Tấn Đức, Tam Bình, Vĩnh Long, Vietnam <br />
                </p>
            </div>
        </div>
    </main>
</div>