@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="row" style="position:relative; text-align: center; color: white;">
        <img src="~/Content/Images/Home img.jpg" style="width: 100%; height: auto;" />
        <div style="position:absolute; top:30%; left: 50%; transform: translate(-50%, -50%); padding-bottom: 50px;">
            <div>
                <h5 style="font-size: 50px; color: #535446;">PERFECT WINE WITH A AMAZING GRAPES</h5>
            </div>
            <div>
                <button type="button">
                    <div>
                        <span>SHOP NOW</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">

    </div>

</main>