@{
    ViewBag.Title = "Home Page";
}

<main>
    <link href="~/Content/home-index-styles.css" rel="stylesheet">
    <div class="row">
        <img class="welcome-img" src="~/Content/Images/Home img.jpg"/>
        <div class="welcome-content">
            <div>
                <h5 class="welcome-slogan">PERFECT WINE WITH AMAZING GRAPES</h5>
            </div>
            <div>
                <button class="shop-now-button" type="button" onclick="location.href='@Url.Action("Index","Products")'">
                    <div>
                        <span>SHOP NOW</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">

    </div>

</main>